@import "../../styles";

.wrapper {
  @include center();
  min-height: 100vh;

  & > .container {
    background-color: var(--light);
    @include radius(1rem);
    padding: 5rem;
    width: 95vw;
    max-width: 50rem;
    @include scaleYAnimation(0.1s);

    & > h1 {
      @include font(3rem, 600);
      @include text(var(--dark), center);
      margin-bottom: 3rem;
    }

    & > form {
      @include flex(column, stretch, flex-start, 1.6rem);
      margin-bottom: 1.6rem;
      & > input {
        @include border(var(--light-gray));
        padding: 1.2rem 2.4rem;
        @include radius(0.5rem);
        outline: none;
        color: var(--link);
        background-color: var(--light);
        &:hover {
          background-color: var(--white);
        }
        &:focus {
          @include border(var(--link));
          background-color: var(--white);
          &::placeholder {
            color: var(--link);
          }
        }
      }

      & > .error {
        @include text(var(--danger), center);
        @include font(1.4rem, 500);
        display: none;
        &.show {
          display: block;
        }
      }

      & > button {
        outline: none;
        border: none;
        background-color: var(--link);
        padding: 1.2rem 2.4rem;
        @include radius(0.5rem);
        cursor: pointer;
        @include text(var(--light), center, uppercase);
        @include font(1.4rem, 500);
        &:hover {
          opacity: 0.9;
        }

        &.google {
          @include center();
          gap: 1.6rem;
          background-color: var(--light);
          color: var(--dark);
          @include shadow(var(--shadow-color));

          & > span {
            @include center();
            font-size: 2rem;
          }
        }
      }
    }

    & > p {
      @include text(var(--dark), center);
      @include font(1.2rem);

      & > a {
        @include text(var(--link));

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
