@import "../../styles";

.container {
  width: 900px;
  max-width: 95vw;
  margin: 0 auto;
  min-height: calc(100vh - 6rem);

  & > h1 {
    padding: 3rem 0;
    @include text(var(--dark), center);
    @include font(4rem, 600);
  }

  & > div {
    width: 100%;
  }
}
